extends layout

block content
    div.row.white-text.squipped
        div.col-lg-12.panel.panel-default(style='padding: 0')
            //h4(style='color: #ffffb3') We are opening at 31 march. You can send request for getting free month subscribing!
            ul.list-group
                each tcnews, i in tcnewsblock
                    li.list-group-item
                        i.pull-right.post-date #{tcnews.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')}&nbsp; | &nbsp;
                        h4: b: a(href="/tcnews/" + tcnews._id) #{tcnews.caption}
                        span.pull-right.hint: a(href='/tcnews/all'): b View all news...
                        p!= tcnews.preview
    div.row
        div.col-lg-6
            div.panel.panel-default
                div.panel-heading
                    span: b.panel-capt Posts
                div.panel-body
                    ul.list-group
                        each post, i in posts
                            li.list-group-item
                                i.pull-right.post-date #{post.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                                h3: b #{post.caption}
                                p!= post.preview
                                if (user)
                                    a(href="/posts/" + post._id) Learn more...
                                else
                                    span.label.label-danger: a(href='/users/login').tologin Please Login to view more...
                    div
                        a(href='/posts/all'): b More posts...
        div.col-lg-3
            div.panel.panel-default
                div.panel-heading
                    span: b.panel-capt CryptoNews
                div.panel-body#cryptonews-div

                    // cryptonews list

        div.col-lg-3
            div.panel.panel-default
                div.panel-heading
                    span: b.panel-capt TradeNews
                div.panel-body#tradenews-div
    div.row
        div.panel.panel-default
            div.panel-body
                div#courses