extends ../layout

block content
    h2 Profile
    p Login:&nbsp;
        b #{user.login}
    p Name:&nbsp;
        b #{user.name}
    p Email:&nbsp;
        b #{user.email}
    p Balance:&nbsp;
        b #{user.balance}
    p Status:&nbsp;
        b #{user.status}
    p Reputation:&nbsp;
        b #{user.reputation}