extends ../layout

block content

    //h1 #{title}
    div.row.margin-top-20
        div.col-lg-4
            h2 Add config
            form(method='POST', action='/botconfigs/add', encType='multipart/form-data')
                div.form-group-sm
                    label: b Bot:
                    select.form-control(name='bot', id='botselector', style='font-weight: bold')
                        option(value="haas") Haas
                        option(value="gekko") Gekko
                div.form-group-sm
                    label Name:
                    input.form-control(type='text', name='name')
                div.form-group-sm
                    label Preview:
                    textarea.form-control(name='preview', id='bot-preview', style='height: 80px')
                div.form-group-sm
                    label Market:
                    select.form-control(name='bot', id='f-cur')
                        option(value="btc/usd") BTC/USD
                        option(value="btc/eth") BTC/ETH
                        option(value="btc/xrp") BTC/XRP
                        option(value="btc/eos") BTC/EOS
                        option(value="bt/yyw") BTC/YYW
                        option(value="btc/eur") BTC/EUR
                        option(value="btc/ltc") BTC/LTC
                div.form-group-sm
                // load by ajax block start
                div#botcfg-addblock
                // load by ajax block end
                hr
                div.form-group-sm
                    label Archive:&nbsp;
                        span.hint (zip,rar)
                    input(type='file', name='arclink')
                div.form-group-sm
                    label Cost: &nbsp;
                        span.hint (Leave empty for free)
                    input.form-control(type='number' name='cost')
                br
                input.btn.btn-primary(type='submit', value='Add')
        div.col-lg-8
            h2 Stored strategies
            br
            ul.list-group
                each config, i in configs
                    li.list-group-item.botcfg-block
                        a(href="/botconfigs/" + config._id).text-capitalize.botlink-h4 #{config.name}
                        span.hint.text-capitalize [#{config.bot}]
                            i.pull-right.post-date #{config.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                        div #{config.preview}
                        if (config.cost > 0)
                            span.label.label-info Price: #{config.cost} $
                            br
                        br
                        a.btn-sm.btn-default(href='/botconfigs/edit/' + config._id) Edit
                        i &nbsp;
                        a.btn-sm.btn-danger(href='/botconfigs/delete/' + config._id) Delete
    script(src='/js/ckeditor/ckeditor.js')
    script.
        CKEDITOR.replace('bot-preview', {
            filebrowserUploadUrl: '/uploader',
            toolbar: 'Basic'
        })