extends ../layout

block content
    h2 Gekko
        span.subbots-span &nbsp; [
            a(href='/botconfigs/haas').subbots-link Haas
            span ,&nbsp;
            a(href='/botconfigs/gimmer').subbots-link Gimmer
            span ,&nbsp;
            a(href='/botconfigs/cryptophp').subbots-link Crypto-PHP
            span ,&nbsp;
            a(href='/botconfigs/cat').subbots-link C.A.T.
            span ]
    div.row
        div.col-lg-8
            h3 Configurations/strategies
            h5.pull-right Please see&nbsp;
                a(href='/botconfigs/manual'): b instructions
                span &nbsp;to install configs
            br
            if (gekkocfgs.length > 0)
                h4(id='freeblock'): b.freeblock Free
                    span(id='freeblock-hint', style='display:none').hint click to view
                ul(id='freeblock-list', style='display:block').list-group
                    each gekkocfg, i in gekkocfgs
                        li.list-group.list-unstyled
                            a(href='/botconfigs/'+gekkocfg._id): h5.list-group-item-heading.text-capitalize: b #{gekkocfg.name}
                                i.pull-right.post-date #{gekkocfg.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                            p.list-group-item!= gekkocfg.preview
                            a(href='/botconfigs/'+gekkocfg._id).btn-sm.btn-info View...
            else
                br
                h4 There are no free strategies yet. Visit us later...
            hr

            if (gekkocfgs_p.length > 0)
                h4(id='chargeableblock'): b.chargeableblock Chargeable
                    span(id='chargeableblock-hint').hint click to view
                ul(id='chargeableblock-list', style='display:none').list-group
                    each gekkocfg_p, i in gekkocfgs_p
                        li.list-group.list-unstyled
                            h5.list-group-item-heading.text-capitalize: b #{gekkocfg_p.name}
                                i.pull-right.post-date #{gekkocfg_p.createdAt.toISOString().replace(/T/, ' ').replace(/\..+/, '')}
                            p.list-group-item!= gekkocfg_p.preview
                            a(href='#').btn-sm.btn-success Buy for
                                b &nbsp;#{gekkocfg_p.cost} $
            else
                br
                h4 There are no chargeable strategies yet. Visit us later...

        div.col-lg-4
            h3 Description
            p Gekko is a&nbsp;
                b free and open source
                span &nbsp;Bitcoin TA trading and backtesting platform that connects to popular Bitcoin exchanges. It is written in javascript and runs on nodejs.

            p: b Use Gekko at your own risk.

            img(src='https://user-images.githubusercontent.com/969743/35054500-fc705b46-fbac-11e7-9652-306c468505a3.png' width='400')

            h5: a(href='https://gekko.wizb.it/docs/introduction/about_gekko.html') Read more...